@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  max-width: 480px;
  width: 100vw;
  margin: auto;
  position: relative;
}

@font-face {
  font-family: "pixelroborobo.otf";
  src: url("../assets/fonts/pixelroborobo.otf");
}
